



<!DOCTYPE html>
{%load static%}
<html>

<head>
  <title>SocialMedia</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Open Sans", sans-serif
    }
  </style>
</head>

<body class="w3-theme-l5">

  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-dark w3-large w3-theme-d2"
        href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4" ><i>finsta</i></a>
    
      <a href="{%url 'profile_edit' request.user.profile.id %}"
        class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i
          class="fa fa-user"></i></a>
   
      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span
            class="w3-badge w3-right w3-small w3-green">3</span></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
          <a href="#" class="w3-bar-item w3-button">One new friend request</a>
          <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
          <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
        </div>
      </div>
    
      <button style="border-radius: 10px;background-color:rgb(15, 14, 15);margin-left: 870px;margin-top: 10px;border-color: aliceblue;"  class="moon"><a class="nav-link" href="{%url 'signin'%}" style="color: rgb(246, 240, 240);">Log Off</a></button></a>
    </div>
  </div>

 

  <!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
        <!-- Profile -->
        <div class="w3-card w3-round w3-white">
          <div class="w3-container">
            <h4 class="w3-center">{{request.user | upper}}</h4>
            <p class="w3-center">
              {%if request.user.profile.profile_pic%}
              <img src="{{request.user.profile.profile_pic.url}}" class="w3-circle" style="height:106px;width:106px"
                alt="Avatar">
              {%else%}
              <img src="https://www.w3schools.com/w3images/avatar3.png" class="w3-circle"
                style="height:106px;width:106px" alt="Avatar">

              {%endif%}
            </p>
            <hr>
            {%if request.user.profile%}

            <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{request.user.profile.bio}}</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{request.user.profile.address}}</p>
            <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{request.user.profile.dob |date:"D d M Y" }}</p>
            {%endif%}
          </div>
        </div>
        <br>

        <!-- Accordion -->
        <div class="w3-card w3-round">
          <div class="w3-white">
              <button style="background-color: rgb(17, 15, 17);width: 296px;"> <i class=" fa fa-fw w3-margin-right"></i><a href="{%url 'profile-all'%}" style="text-decoration: none;color: rgb(255, 252, 252);"> All profiles</a></button>
                <button style="background-color: rgb(248, 241, 248);width: 296px;" ><i class="fa fa-heart fa-fw w3-margin-right"></i> <a href="{%url 'profiledetail' request.user.profile.id%}" style="text-decoration: none;color: rgb(17, 16, 16);" >My Profile</a> </button>
            <div id="Demo1" class="w3-hide w3-container">
            
            </div>
           
          
            <div id="Demo3" class="w3-hide w3-container">
              <div class="w3-row-padding">
                <br>
                <div class="w3-half">
                  <img src="/myapp/images/myphotos1.jpg" style="width:79%" class="w3-margin-bottom">
                </div>
                <div class="w3-half">
                  <img src="/myapp/images/myphotos2.jpg" style="width:89%" class="w3-margin-bottom">
                </div>
                <div class="w3-half">
                  <img src="/myapp/images/myphotos3.jpg" style="width:86%" class="w3-margin-bottom">
                </div>
                <div class="w3-half">
                  <img src="/myapp/images/myphotos4.jpg" style="width:89%" class="w3-margin-bottom">
                </div>
                <div class="w3-half">
                  <img src="/myapp/images/myphotos5.jpg" style="width:89%" class="w3-margin-bottom">
                </div>
                <div class="w3-half">
                  <img src="/myapp/images/myphotos6.jpg" style="width:90%" class="w3-margin-bottom">
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>

       
        <!-- Alert Box -->
        <div
          class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
          <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
            <i class="fa fa-remove"></i>
          </span>
          <p><strong>Hey!</strong></p>
          <p>People are looking at your profile. Find out who.</p>
        </div>

        <!-- End Left Column -->
      </div>

      <!-- Middle Column -->
      <div class="w3-col m7">

        <div class="w3-row-padding">
          <div class="w3-col m12">
            <div class="w3-card w3-round w3-white">
              <div class="w3-container w3-padding">
                <form action="" method="post" enctype="multipart/form-data">
                  {%csrf_token%}
                  <div class="mb-3">
                    <input type="text" name="title" class="w3-border w3-padding form-control">

                  </div>
                  <div class="mb-3">
                    <input type="file" name="image" class="form-control">

                  </div>
                  <button type="submit" class="w3-button w3-theme-d5"><i class="fa fa-user"></i>GO</button>

                </form>


              </div>
            </div>
          </div>
        </div>
        <!-- main loop for listing all posts -->

        {%for post in posts%}

        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
          {%if request.user.profile.profile_pic%}
          <img src="{{post.user.profile.profile_pic.url}}" alt="Avatar" class="w3-left w3-circle w3-margin-right"
            style="width:60px">

          {%endif%}
          <span class="w3-right w3-opacity">{{post.created_date}}</span>
          <h4>{{post.user}}</h4><br>
          <hr class="w3-clear">
          <p>{{post.title}}</p>
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half">
              {%if post.image%}
              <img src="{{post.image.url}}" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
              {%endif%}
            </div>

          </div>
          <a href="{%url 'addlike' post.id%}" class="w3-button w3-theme-d1 w3-margin-bottom"><i
              class="fa fa-thumbs-up"></i> Like <span class="w3-badge w3-right w3-small w3-green">{{post.liked_by.all | length}}</span></a>
          <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i> <span
              class="w3-badge w3-right w3-small w3-green">{{post.post_comment.all | length}}</span> Comment</button>

          <!-- add comment section -->
          <form action="{%url 'addcomment' post.id %}" method="post">
            {%csrf_token%}
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                {%if request.user.profile.profile_pic%}
                <img src="{{post.user.profile.profile_pic.url}}" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                  style="width:60px">

                {%endif%}
              </span>
              <input type="text" class="form-control" placeholder="add your comment" aria-label="Recipient's username"
                aria-describedby="button-addon2" name="comment">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Send</button>
            </div>

          </form>

          <!-- end add comment section -->

          <!-- listing comment section -->
          {%for c in post.post_comment.all%}
          <div class="card p-3 mb-1">

            <div class="d-flex justify-content-between align-items-center">

              <div class="user d-flex flex-row align-items-center">

                {%if c.user.profile.profile_pic%}
                <img src="{{c.user.profile.profile_pic.url}}" width="30" class="user-img rounded-circle mr-2">

                {%endif%}

                <span><small class="font-weight-bold text-primary">{{c.user}}</small> <small
                    class="font-weight-bold">{{c.comment_text}}</small></span>

              </div>


              <small>{{c.created_date}}</small>

            </div>


            <div class="action d-flex justify-content-between mt-2 align-items-center">

              <div class="reply px-4">
                <small>
                  {%if request.user == c.user%}
                  <a href="{%url 'removecomment' c.id %}">Remove</a>
                  {%endif%}
                </small>
                <span class="dots"></span>


              </div>

              <div class="icons align-items-center">

                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-check-circle-o check-icon"></i>

              </div>

            </div>



          </div>




          {%endfor%}
          <!-- end comment list -->
        </div>

        {%endfor%}
        

       

        <!-- End Middle Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-col m2">
        <div class="w3-card w3-round w3-white w3-center">
          <div class="w3-container">
            <p>Upcoming Events:</p>
            <img src="../static/images/eye.jpg" alt="Forest" style="width:100%;">
            <p><strong>Holiday</strong></p>
            <p>Friday 15:00</p>
            <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
          </div>

        </div>
        <br>
        {%for pro in request.user.profile.friend_request%}
        <div class="w3-card w3-round w3-white w3-center">
          <div class="w3-container">
            <p>Friend Request</p>
            {%if pro.profile_pic%}
            <img src="{{pro.profile_pic.url}}" alt="Avatar" style="width:40%"><br>
            {%endif%}

            <span>{{pro.user}}</span>
            <div class="w3-row w3-opacity">
              <div class="w3-half">
                <button class="w3-button w3-block w3-green w3-section" title="Accept"><a href="{%url 'follow' pro.id %}"><i class="fa fa-check"></i></a></button>
              </div>
              <div class="w3-half">
                <button class="w3-button w3-block w3-red w3-section" title="Decline"><i
                    class="fa fa-remove"></i></button>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
        <br>
        <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
         <a href="https://www.indiatoday.in/livetv" style="text-decoration: none;color: rgb(20, 18, 20);"> <p>NEWS</p></a>
        </div>
        <br>
      

        <!-- End Right Column -->
      </div>

      <!-- End Grid -->
    </div>

    <!-- End Page Container -->
  </div>
  <br>

  <!-- Footer -->
  <footer class="w3-container w3-theme-d3 w3-padding-16">
    <h5>Footer</h5>
  </footer>

  <footer class="w3-container w3-theme-d5">
    <p>Powered by finsta</p>
  </footer>

  <script>
    // Accordion
    function myFunction(id) {
      var x = document.getElementById(id);
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
      } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
          x.previousElementSibling.className.replace(" w3-theme-d1", "");
      }
    }

    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>

</body>

</html>






























