<!-- <!DOCTYPE html>
{%load static%}
<html>

<head>
    <link rel="stylesheet" href="{%static 'css/cardstyle.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


</head>

<body>
    <h2 style="text-align:center">User Profile Card</h2>
    <!-- search section -->
<!-- <form action="" method="post">
    {%csrf_token%}
    <input type="text" name="username" placeholder="enter a name to search">
    <input type="submit">
</form>
 <!--end search section -->
    <!-- {%for profile in profiles%}
    <div class="card">
        {%if profile.profile_pic%}
        <img src="{{profile.profile_pic.url}}" alt="John" style="width:100%" height="200px">
        {%endif%}
        <h1><a href="{%url 'profiledetail' profile.id%}">{{profile}}</a></h1>
        <p class="title">{{profile.bio}}</p>
        <p>{{profile.address}}</p>
        <div style="margin: 24px 0;">
            {{profile.following.all.count}} following |

            {{profile.followed_by.all.count}} followers
            
        </div>
        <p>
            {%if request.user.profile in profile.followed_by.all %}
            <a href="{%url 'unfollow' profile.id%}" class="btn btn-outline-dark">following</a>
            {%else%}
            <a href="{%url 'follow' profile.id%}" class="btn btn-dark">follow</a>
            {%endif%}
        </p>
    </div>
    {%endfor%}
</body>

</html>  --> 
onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"